<% content_for :title do %>
  <% 'Profile' %>
<% end %>

<div class="row">
  <div class="large-12 columns text-center">
    <h4>Signed in as <%= @user.email %></h4>
    <div class="large-8 large-offset-2 columns user-map">
      <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?size=980x400&maptype=hybrid&sensor=false&markers=#{markers_for_profile_map(@subscriptions)}", alt: "Map markers for #{params[:search]} in #{params[:state]}")%>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="profile-box">
      <table>
        <thead>
          <tr>
            <th>Site name</th>
            <th>Site code</th>
            <th>Current Flow</th>
            <th>Notify if Below(cfs)</th>
            <th>Notify if Above(cfs)</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @subscriptions.each do |subscription| %>
            <%= form_tag({controller: "rivers", action: "update_subscription"}, method: "post") do %>
              <tr>
                <td><%= link_to "#{subscription.river.site_name}", subscription.river %></td>
                <td><%= subscription.river.site_code %></td>
                <td><%= subscription.river.cfs_value %> cfs</td>
                <%= hidden_field_tag :site_code, "#{subscription.river.site_code}" %>
                <td><%= text_field_tag :floor, "#{subscription.floor}" %></td>
                <td><%= text_field_tag :ceiling, "#{subscription.ceiling}" %></td>
                <td><%= submit_tag("Update", class: 'button tiny') %></td>
              </tr>
            <% end %>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

