<% content_for :title do %>
  <% if params[:state] != nil %>
  Rivers in <%= params[:state].upcase %>
  <% elsif %>
  Rivers Matching '<%= params[:search] %>'
  <% end %>
<% end %>
<div class="row">

</div>
<div class="row">
  <div class="large-6 columns">
      <h4>Map</h4>
    <div class="state-map">
      <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?size=350x350&maptype=hybrid&sensor=false&markers=#{markers_for_static_map(@rivers)}", alt: "Map markers for #{params[:search]} in #{params[:state]}")%>
    </div>
  </div>
  <div class="large-6 columns">
      <h4>Info</h4>
    <div class="state-info">
    <%= image_tag("http://img.scoop.it/b7qdESWpgLuV-2ZR4JzB1Tl72eJkfbmt4t8yenImKBVaiQDB_Rd1H6kmuBWtceBJ")%>
    </div>

  </div>
</div>

<div class="row">
  <div class="large-5 columns state-gage-table">
    <% if params[:state] != nil && params[:search] != nil %>
      <h4>Sites in <%= params[:state].upcase %> that match: <%= params[:search] %> </h4>
    <% end %>
    <% if params[:state] != nil && params[:search] == nil %>
      <%= form_tag rivers_by_state_by_name_path do %>
      <%= text_field_tag :search, params[:search], :placeholder => "Search #{params[:state].upcase} rivers here..." %>
      <%= hidden_field_tag :state, params[:state] %>
        <%= submit_tag "Search", :name => nil, class: 'small button searchbutton' %>
      <% end %>
    <% end %>
    <% if params[:search] != nil && params[:state] == nil %>
      <h4>Nationwide Search for: <%= params[:search] %></h4>
    <% end %>
  </div>
  <div class="large-7 columns">
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>Site name</th>
          <th>Site code</th>
          <th>Refresh time</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>County</th>
          <th>Flow</th>
          <th>More info</th>
          <th>Follow</th>
        </tr>
      </thead>

      <tbody>
        <% @rivers.each do |river| %>
          <tr>
            <td><%= river.site_name %></td>
            <td><%= river.site_code %></td>
            <td><%= river.time %></td>
            <td><%= river.latitude %></td>
            <td><%= river.longitude %></td>
            <td><%= river.county_id %></td>
            <td><%= river.cfs_value %> cfs</td>
            <td><%= link_to 'Details', river %></td>
            <td><%= link_to 'Follow', subscribe_path(river.site_code), method: :post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class='large-12 columns text-center paginate'>
    <%= will_paginate @rivers, class:'pagination' %>
  </div>
</div>

