<h1>Listing rivers</h1>

<table>
  <thead>
    <tr>
      <th>Site name</th>
      <th>Site code</th>
      <th>Refresh time</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>County</th>
      <th>Cfs value</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rivers.each do |river| %>
      <tr>
        <td><%= river.site_name %></td>
        <td><%= river.site_code %></td>
        <td><%= river.refresh_time %></td>
        <td><%= river.latitude %></td>
        <td><%= river.longitude %></td>
        <td><%= river.county_id %></td>
        <td><%= river.cfs_value %></td>
        <td><%= river.state %></td>
        <td><%= link_to 'Show', river %></td>
        <td><%= link_to 'Edit', edit_river_path(river) %></td>
        <td><%= link_to 'Drain', river, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New River', new_river_path %>
