<div class="row">
  <div class="large-10 large-offset-1 columns text-center">
    <h2><%= @rivers.first.state %></h2>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
      <h4>Map</h4>
    <div class="state-map">
      <p>THIS IS A MAP OF <%= @rivers.first.state %></p>
    </div>
  </div>
  <div class="large-6 columns">
      <h4>Info</h4>
    <div class="state-info">
      <p><%= @rivers.first.state %> Graphs</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 columns state-gage-table">
    <%= form_tag rivers_by_state_by_name_path do %>
        <%= text_field_tag :search, params[:search], :placeholder => 'Enter river name...' %>
        <%= hidden_field_tag :state, params[:state] %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>Site name</th>
          <th>Site code</th>
          <th>Refresh time</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>County</th>
          <th>Flow</th>
          <th>More info</th>
          <th>Follow</th>
        </tr>
      </thead>

      <tbody>
        <% @rivers.each do |river| %>
          <tr>
            <td><%= river.site_name %></td>
            <td><%= river.site_code %></td>
            <td><%= river.time %></td>
            <td><%= river.latitude %></td>
            <td><%= river.longitude %></td>
            <td><%= river.county_id %></td>
            <td><%= river.cfs_value %></td>
            <td><%= link_to 'details', river %></td>
            <td>CLICK!</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class='large-12 columns text-center'>
    <%= will_paginate @rivers %>
  </div>
</div>

