<div class="row">
  <div class="span10">
    <h1>Gauge List</h1>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Site name</th>
      <th>Site code</th>
      <th>Refresh time</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>County</th>
      <th>Cfs value</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rivers.each do |river| %>
      <tr>
        <td><%= river.site_name %></td>
        <td><%= river.site_code %></td>
        <td><%= river.refresh_time %></td>
        <td><%= river.latitude %></td>
        <td><%= river.longitude %></td>
        <td><%= river.county_id %></td>
        <td><%= river.cfs_value %></td>
        <td><%= river.state.upcase %></td>
        <td><%= link_to 'details', river %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New River', new_river_path %>
