<% content_for :title do %>
  Details for <%= @river.site_name %>
<% end %>
<div id="state-show">
<div class="row">
  <div class="large-10 large-offset-1 columns">
    <h2><%= @river.site_name %></h2>
    <br>
    <h3>Current Flow: <%= @river.cfs_value %> cfs </h3>
  </div>
</div>
<div class="row">
  <div class="large-4 content2 columns">
    <div id='square'>
      <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?markers=#{@river.latitude},#{@river.longitude}&zoom=12&size=350x350&maptype=hybrid&sensor=false")%>
    </div>
    <p id="notice"><%= notice %></p>
    <p>
      <strong>State:</strong>
      <%= @river.state.capitalize %>
    <br/>
      <strong>CFS value:</strong>
      <%= @river.cfs_value %> cfs
    <br/>
      <strong>Latitude:</strong>
      <%= @river.latitude %>
    <br/>
      <strong>Longitude:</strong>
      <%= @river.longitude %>
    <br/>
      <strong>Site code:</strong>
      <%= @river.site_code %>
    <br/>
      <strong>Refresh time:</strong>
      <%= @river.time %>
    <br/>
      <strong>County:</strong>
      <%= @river.county_id %>
    </p>
    <p>
      <% if user_signed_in? %>
      <%= link_to 'Follow', subscribe_path(@river.site_code), method: :post, class: 'button tiny' %>
      <% end %>
    </p>
  </div>
<!--
  <div class="large-6 columns">
  </div>
</div>
<div class="row"> -->
  <div class="large-8 columns text-center">
      <%= image_tag("http://waterdata.usgs.gov/nwisweb/graph?agency_cd=USGS&site_no=#{@river.site_code}&parm_cd=00060&period=7", alt: "site graph for gauge number #{@river.site_code}") %>
    <h4>GRAPH FOR LAST 7 DAYS</h4>
  </div>
</div>
</div>
