<div class="row">
  <div class="large-10 large-offset-1 columns">
    <h3><%= @river.site_name %></h3>
  </div>
</div>
<div class="row">
  <div class="large-4 large-offset-2 columns">
    <div id='square'>
      <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?center=#{@river.latitude},#{@river.longitude}&zoom=12&size=350x350&maptype=hybrid&sensor=false")%>
    </div>
  </div>

  <div class="large-6 columns">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>State:</strong>
      <%= @river.state.upcase %>
    </p>
    <p>
      <strong>Cfs value:</strong>

    </p>
    <p>
      <strong>Latitude:</strong>
      <%= @river.latitude %>
    </p>
    <p>
      <strong>Longitude:</strong>
      <%= @river.longitude %>
    </p>
    <p>
      <strong>Site code:</strong>

    </p>
    <p>
      <strong>Refresh time:</strong>

    </p>
    <p>
      <strong>County:</strong>
      <%= @river.county_id %>
    </p>
    <%= link_to 'Back', rivers_path %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>HOW ABOUT SOME SWEET GRAPHS HERE!?</h3>
    <div id="graph"></div>
  </div>
</div>

