<% provide(:title, "FlowFree") %>
<div class="row">
  <div class="large-12 columns">
    <h3>About:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, repudiandae, nesciunt, exercitationem eveniet aliquam delectus omnis voluptas dicta quis harum quam repellat earum ratione necessitatibus voluptatem deleniti ullam alias consequuntur!</p>
  </div>
</div>
<div class="row">
  <div class="large-10 large-offset-1 columns map">
    <h2>Search for River Flows By State</h2>
    <iframe width="750" height="450" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col1+from+1IUTYCJ2oJko4KSiNcFbcwPeEkUHkTyETih1s-WM&amp;viz=MAP&amp;h=false&amp;lat=40.95896879515698&amp;lng=-104.22611730859921&amp;t=1&amp;z=4&amp;l=col1&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG">
      <head>
      <base target="_parent">
      </head>
    </iframe>
  </div>
</div>
<div class="row">
  <div class="large-4 large-offset-4 columns">
   <div id='state-drop-dwn'>
      <%= form_tag rivers_by_state_path do %>
        <%= select_tag :state, options_for_select(us_states), :prompt => 'Select A State' %>
        <%= submit_tag "Go!" %>
      <% end %>
    </div>
    <%= form_tag rivers_by_name_path do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" %>
      <% end %>
  </div>
</div>

