<!DOCTYPE html>
<html>
<head>
  <title>FlowFree</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row" id="header">
      <div class="span6">
        <h1>FreeFlow</h1>
      </div>
<!-- LOGIN FORM -->
      <div class="span2 offset4">
        <%= link_to "Sign in",  class: "btn btn-primary pull-right"%>
      </div>
    </div>
    <div class="row span12">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <div class="row">
      <div class="span12">
        <h2>Content!</h2>
      </div>
    </div>

  </div>

</body>
</html>
