<!DOCTYPE html>
<html>
<head>
  <title>FlowFree</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row" id="header">
      <div class="span3">
        <h1><a href="/">FlowFree</a></h1>
      </div>
<!-- LOGIN FORM -->
      <div class="span2 offset7">
        <a href="#">Sign in link...</a>
        <br/>
        <a href="#">Sign up link...</a>
      </div>
    </div>
      <%= notice %>
      <%= alert %>
    <div class="row span12">
      <%= yield %>
    </div>
    <div class="row">
      <div class="span12 footer pull-right">
        <br/>
        <p>created with love @ portland code school</p>
      </div>
    </div>
  </div>
</body>
</html>
